#TOP
#nothing to ignore

.venv
fusesoc/build/**
#SOFTWARE
software/periphs.h

software/*/*
!software/*/makefile
!software/*/Makefile
!software/*/*.expected
!software/*/*.py
!software/*/*.rsp
!software/*/*.c
!software/*/*.cpp
!software/*/*.hpp

!software/bootloader/boot.c
!software/bootloader/boot.S

!software/firmware/firmware.c
!software/firmware/firmware.S
!software/firmware/profile.c
!software/firmware/profile.h
!software/firmware/crypto/
!software/firmware/SHA256/
!software/firmware/units/

!software/console/console
!software/console/eth_console

!software/test/SHA256/

!software/pc-emul/testVersatSpecification.txt

#HARDWARE
#sources
hardware/src/system.v
hardware/src/versat_instance.v
hardware/src/GeneratedUnits/*
hardware/testbench/system_tb.v
hardware/include/versat_defs.vh
#scala sources
hardware/src/spinalHDL/project/*
hardware/src/spinalHDL/target/*

#simulation
hardware/simulation/*/*
!hardware/simulation/verilog_tb/*

!hardware/simulation/simulation.mk
!hardware/simulation/*/Makefile
!hardware/simulation/*/*.expected
!hardware/simulation/*/*.sh
!hardware/simulation/verilator/*.cpp

#fpga
hardware/fpga/*/*/*
!hardware/fpga/fpga.mk
!hardware/fpga/*/*/Makefile
!hardware/fpga/*/*/*.tcl
!hardware/fpga/*/*/*.expected
!hardware/fpga/*/*/verilog
!hardware/fpga/*/*/doc
!hardware/fpga/vivado/*/*.xdc
!hardware/fpga/quartus/*/*.sdc

!hardware/fpga/quartus/*/qsys

#asic/OpenLane
hardware/asic/openlane/*.vh
hardware/asic/openlane/*.v
hardware/asic/openlane/system/src/*
hardware/asic/openlane/simulation/*.v
hardware/asic/openlane/simulation/*.vh
hardware/asic/openlane/simulation/post-synth/system.v
hardware/asic/openlane/simulation/post-layout/system.nl.v
hardware/asic/openlane/simulation/pdk/*

#DOCUMENT
document/*/*
!document/*/Makefile
!document/*/*.expected
!document/*/*.pdf
!document/presentation/presentation.tex
