[submodule "submodules/UART"]
	path = submodules/UART
	url = git@github.com:IObundle/iob-uart.git
[submodule "submodules/CACHE"]
	path = submodules/CACHE
	url = git@github.com:IObundle/iob-cache.git
[submodule "submodules/VERSAT"]
	path = submodules/VERSAT
	url = git@github.com:IObundle/iob-versat.git
[submodule "submodules/AXI"]
	path = submodules/AXI
	url = git@github.com:IObundle/iob-axi.git
[submodule "submodules/MEM"]
	path = submodules/MEM
	url = git@github.com:IObundle/iob-mem.git
[submodule "submodules/LIB"]
	path = submodules/LIB
	url = git@github.com:IObundle/iob-lib.git
[submodule "submodules/TIMER"]
	path = submodules/TIMER
	url = git@github.com:IObundle/iob-timer.git
[submodule "submodules/PICORV32"]
	path = submodules/PICORV32
	url = git@github.com:iobundle/iob-picorv32.git
[submodule "submodules/ETHERNET"]
	path = submodules/ETHERNET
	url = git@github.com:IObundle/iob-eth.git
[submodule "submodules/OpenLane"]
	path = submodules/OpenLane
	url = https://github.com/The-OpenROAD-Project/OpenLane.git
